extends layout

block content
  .container
    .row
      br
      .col-md-12.well.well-lg
        <h1>About The Watch</h1>
        hr
        p
          Culpa tousled mumblecore vero yr, authentic meditation occaecat. Health goth PBR&B gentrify viral, salvia in actually pour-over. Four dollar toast dolor placeat Thundercats narwhal Godard. Organic seitan Etsy, aute vegan magna DIY est single-origin coffee irony swag Echo Park salvia. Hoodie post-ironic sint meh four dollar toast. Minim nihil Williamsburg butcher viral. Ex four loko selvage try-hard incididunt, magna gastropub street art butcher cliche forage officia fanny pack.
        blockquote
          p
            The watch is great. The watch is wonderful. Watch it! The amazing watch.
        p
          Keffiyeh next level anim Etsy semiotics, meh try-hard jean shorts excepteur ut beard YOLO. Polaroid consectetur meh VHS. Seitan Carles lo-fi, health goth cupidatat High Life labore butcher hashtag Pitchfork consectetur iPhone. Yr paleo listicle, sapiente proident flexitarian sed semiotics viral keffiyeh 90's Portland nesciunt. Viral fanny pack PBR, literally Helvetica exercitation Pinterest normcore Godard. Forage swag seitan labore viral, pickled Odd Future bespoke mlkshk Carles normcore fingerstache artisan cornhole aute. Artisan gluten-free ethical, mixtape messenger bag esse synth incididunt.
        p
          Pariatur art party nihil ut crucifix flannel locavore jean shorts, food truck Neutra vinyl. Aesthetic nulla mixtape occupy pour-over et, tempor church-key freegan kogi master cleanse vinyl kale chips. Tempor listicle quis, tattooed veniam ennui irure Tumblr twee. Pour-over cupidatat sapiente tempor, mustache listicle yr wolf. Odd Future enim small batch, cray salvia brunch flexitarian VHS skateboard nesciunt magna readymade. Accusamus letterpress artisan Tonx, freegan Pinterest placeat aute before they sold out. Blue Bottle normcore American Apparel anim paleo.
