#footer
  nav.navbar.navbar-default.navbar-fixed-bottom.navbar-inverse
    .container-fluid
      .row
        .col-md-12
          small.navbar-text.navbar-right
            &copy; 2014 #{title}. All rights reserved.
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/validator.min.js")
script(src="/javascripts/raphael.min.js")
script(src="/javascripts/retina.min.js")
script(src="/javascripts/svgfix.js")
script(src="/javascripts/main.js")